.section__blogpage {
  margin: 100px 0;
}
.section__blogpage-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.article__title{
  height: 3.5rem;
  max-height: 3.5rem;
  overflow: hidden;
  margin-bottom: 2rem;
  }
.article__content{
  max-height: 5rem;
  overflow: hidden;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.blog__readmore{
  margin-top: 4rem;

}

@media screen and (max-width: 1900px) {
  .section__blogpage-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 980px) {
  .section__blogpage-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 690px) {
  .section__blogpage-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
